@font-face {
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSans3VF-Roman.otf.woff2') format("woff2");
}

.enlarge-text {
    transition: font-weight .15s ease-out;
}

.enlarge-text:hover {
    font-weight: 700;
}

* {
    color: white;
    font-family: 'Source Sans 3 VF';
}

html {
    width: 100%;
    background-color: #292C34;
}

body {
    width: 100%;
    margin: 0;
}

h2 {
    font-size: 5rem;
}

a {
    transition: font-weight .15s ease-out;
}

.container__main {
    display: flex;
    flex-wrap: wrap;
    max-width: 93rem;
    margin: 0 auto;
    color: white;
    border: 1px solid white;
}

.container__main > * {
    padding: 1rem;
    border: 1px solid white;
    flex: 1 0 100%;
}

.dev__button {
    color: black;
    padding: 1rem 2rem;
    margin: 0 0.5rem 0 0;
}

.main__container {
    height: 60rem;
    display: flex;
    flex-direction: column;
}

.main__container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome__form {
    padding-top: 6rem;
    font-size: 4rem;
}

#welcome__form p {
    padding: 2rem 0;
}

#form__nickname {
    font-size: 4rem;
    text-align: center;
    color: black;
}

#menu__menu {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: 500;
}

#menu__menu li {
    flex: 0 0 13%;
}

#menu__menu li:hover {
    list-style: none;
    font-size: 3.1rem;
    transform: rotate(10deg) 
}

#game__countdown {
    display: flex;
}

#countdown__text {
    font-size: 3rem;
}

#countdown__bar {
    display: block;
    height: 1rem;
    width: 100%;
    background-color: white;
}

#game__quiz {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#game__quiz > * {
    width: 100%;
    text-align: center;
}

#quiz__question {
    flex: 1 0 15%;
    padding: 0.5rem;
}

#quiz__content {
    flex: 0 0 70%;
    padding: 0.5rem;
}

#quiz__image {
    max-width:100%;
    max-height: 32rem;
    margin: 0 auto;
    object-fit: contain;
}

#quiz__text {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    font-size: 5rem;
}

#quiz__answer {
    flex: 1 0 10%;
    padding: 0.5rem;
}

#quiz__answer__image {
    
}

#quiz__answer__text {
    text-align: center;
    color: black;
    font-size: 3rem;
}

#quiz__answer__voice {
    font-size: 3rem;
}