/*
    Code based on https://typogram.github.io/Anicons/use.html
*/
@font-face {
  font-family: "Decovar";
  src: url("../fonts/Decovar/DecovarAlpha-VF.woff2");
}

@font-face {
  font-family: "Lab DJR";
  src: url("../fonts/Lab-DJR_2.0.woff2");
}

@font-face {
  font-family: "Anicons Regular";
  src: url("../fonts/Anicons/Anicons_variable/AniconsGX.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anicons Color";
  src: url("../fonts/Anicons/Anicons_variable/AniconsColorGX.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  color: white;
}

html {
  width: 100%;
  background-color: #292c34;
}

body {
  width: 100%;
  margin: 0;
}

.container__main {
  display: flex;
  flex-wrap: wrap;
  max-width: 93rem;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
}

.font-showcase {
    font-size: 10rem;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.decovar {
  font-family: "Decovar";
}

/* Supports values from 0 to 1000 */
.decovar_fvs {
  font-variation-settings: "BLDA" 0, "BLDB" 0, "WMX2" 0, "SKLA" 0, "SKLB" 0,
    "SKLD" 0, "TRMA" 0, "TRMB" 0, "TRMC" 0, "TRMD" 0, "TRME" 0, "TRMF" 0,
    "TRMG" 0, "TRMK" 0, "TRML" 0;
}

.labdjr {
    font-family: "Lab DJR";
}

.labdjr_fvs {
    font-variation-settings: "size" 400, "quad" 1000, "bevl" 0, "oval" 1000;
}

.box {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.anicon {
  font-family: "Anicons Regular", sans-serif;
  font-variation-settings: "TIME" 1;
  transition: font-variation-settings 1s ease;
}

.anicon:hover {
  font-variation-settings: "TIME" 100;
  margin-left: 1rem;
}

.aniconn {
  animation: anicon-animation 1s ease-in-out infinite;
}

@keyframes anicon-animation {
  0% {
    font-variation-settings: "TIME" 1;
    /* margin-left: 0rem; */
  }
  /* 50% {
    font-variation-settings: "TIME" 10;
    margin-left: 1rem;
  } */
  100% {
    font-variation-settings: "TIME" 100;
    /* margin-left: 10rem; */
  }
}
